body {
  display: flex;
  background-image: url(/images/background_1pg.jpg);
}
.hed {
  width: 100%;
  margin: 0 70px;
  padding-top: 25px;
  padding-bottom: 26px;
  border-bottom: solid black;
}

.logo_img {
  width: 299px;
  height: 299px;
  margin-top: 473px;
  margin-left: 1076px;
}
